
h1 {
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
}


.r1 {
  text-align: center;
}

.s1 {
  border: 1px solid #3E4ACC;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  background-color: lightblue;
  
}

td {
  align: justify;
}

tr, th {
border: 5px solid black;
text-align: center;
margin: auto;
padding-left: 70px;
padding-right: 70px;


}

.tbl {
margin: auto;
width: 80%;

}

.d1 {
  float: left;
padding: 50px 250px 50px 50px;
}

.d2 {
  padding: 50px 100px 50px 300px;
  float: right;
}


.img {
  border-top: 1px solid beige;
}

.bunny {
  margin: auto;
  float: right;
}


